{{>partials/header}}
  
    {{#user.showOld}}
    Opa {{user.nome}}, você já tem {{user.idade}} anos?
    {{/user.showOld}}

    <h2>Produtos</h2>

    <ul>
       {{>partials/productItem}}
    </ul>

    <ul>
        {{#user.frasesDoDia}}
            <li>{{.}}</li>
        {{/user.frasesDoDia}}
        {{^frasesDoDia}}
            Não há frases motivacionais hoje
        {{/frasesDoDia}}
    </ul>

{{>partials/footer}}