<html>
<head>
    <title>Página Home</title>
</head>
<body>
    <h1>Título da página</h1>
    <hr/>
    {{#user.showOld}}
    Opa {{user.nome}}, você já tem {{user.idade}} anos?
    {{/user.showOld}}

    <h2>Produtos</h2>

    <ul>
        {{#user.products}}
            <li>{{title}} - R$ {{price}}</li>
        {{/user.products}}
    </ul>

    <ul>
        {{#user.frasesDoDia}}
            <li>{{.}}</li>
        {{/user.frasesDoDia}}
        {{^frasesDoDia}}
            Não há frases motivacionais hoje
        {{/frasesDoDia}}
    </ul>

</body>
</html>